@page "/managed-identities"
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons;

@inject IDialogService DialogService

@rendermode InteractiveServer

<FluentDialogProvider />

<FluentLabel Typo="Typography.PageTitle">Managed Identities</FluentLabel>

<FluentToolbar id="toolbar-links" Style="width:100%;margin-bottom:15px;margin-top:10px;">
    <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size16.New())" Loading="IsBusy">New</FluentButton>
    <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowSync())" Loading="IsBusy" OnClick="OnAppRegistrationsClicked">App registrations</FluentButton>
    <FluentButton IconStart="@(new Icons.Regular.Size16.ArrowSync())" Loading="IsBusy" OnClick="OnManagedIdentitiesClicked">Managed identities</FluentButton>

    <FluentSpacer />

    @*     <FluentAutocomplete TOption="Tag" Placeholder="Filter by tags" OnOptionsSearch="@OnSearchTagAsync"
    Disabled="!string.IsNullOrWhiteSpace(SearchTerm)" OptionText="@(i => i.Name)"
    @bind-SelectedOptions="@SelectedTags" Width="300px" Style="display: inline-flex;" />

    <FluentButton IconStart="@(new Icons.Regular.Size16.Filter())" Loading="IsBusy" OnClick="() => FilterByTag(true)">
    Filter
    </FluentButton>

    <FluentSpacer Width="10" />

    <FluentSearch @bind-Value=SearchTerm Placeholder="Token or Note" Disabled="IsBusy || SelectedTags.Any()"
    AfterBindValue="HandleSearchInput"></FluentSearch> *@
</FluentToolbar>

<FluentGrid Spacing="3" Style="margin-top: 10px; margin-right: 10px;" OnBreakpointEnter="@OnBreakpointEnterHandler">
    <FluentGridItem xxl="9" xl="8" md="12" sm="12" xs="12">
        <FluentCard>

            <FluentDataGrid Items="@Identities" GenerateHeader="GenerateHeaderOption.Sticky"
                            GridTemplateColumns="0.8fr 1.0fr 1.0fr">
                <TemplateColumn Title="DisplayName" SortBy="@sortByName">
                    <FluentButton Appearance="Appearance.Lightweight" OnClick="@(async () => await OnAppIdClickAsync(context.AppId))">
                        @context.DisplayName
                    </FluentButton>
                </TemplateColumn>
                <TemplateColumn Title="AppId" SortBy="@sortByAppId">
                    <FluentButton Appearance="Appearance.Lightweight" OnClick="@(async () => await OnAppIdClickAsync(context.AppId))">
                        @context.AppId
                    </FluentButton>
                </TemplateColumn>
                <TemplateColumn Title="Id" SortBy="@sortById">
                    <FluentButton Appearance="Appearance.Lightweight" OnClick="@(async () => await OnAppIdClickAsync(context.AppId))">
                        @context.Id
                    </FluentButton>
                </TemplateColumn>
            </FluentDataGrid>

        </FluentCard>
    </FluentGridItem>
    <FluentGridItem xxl="3" xl="4" md="12" sm="12" xs="12">
        @if (SelectedIdentity != null)
        {
            <FluentCard>
                <FluentLabel Typo="Typography.Header">Identity Details:</FluentLabel>
                <FluentGrid Style="margin-top: 10px">
                    <FluentGridItem xxl="12" lg="6" md="6" sm="12">
                        <table>
                            <tr>
                                <td>Identity type</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>@SelectedIdentity?.IdentityType</td>
                            </tr>
                            <tr>
                                <td>DisplayName</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>@SelectedIdentity?.DisplayName</td>
                            </tr>
                            <tr>
                                <td>Application (Client) Id</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>@SelectedIdentity?.AppId</td>
                            </tr>
                            <tr>
                                <td>Object Id:</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>@SelectedIdentity?.Id</td>
                            </tr>
                        </table>

                        <FluentButton IconStart="@(new Icons.Regular.Size16.CalendarAssistant())" OnClick="OpenDialogAsync">Assign App Role</FluentButton>
                    </FluentGridItem>
                    <FluentGridItem xl="12" lg="6" md="6" sm="12">
                        <table>
                            <tr>
                                <td>Application ID URI</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>@SelectedIdentity?.AppIdUri</td>
                            </tr>
                            <tr>
                                <td>Managed in application</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>SelectedApplication?.ManagedInApplication</td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>
                                    @foreach (var tag in SelectedIdentity!.Tags)
                                    {
                                        <FluentBadge Appearance="Appearance.Accent" Style="margin-right: 5px;">
                                            @tag
                                        </FluentBadge>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>App Roles</td>
                                <td style="padding: 0 10px 0 10px;">:</td>
                                <td>
                                    @foreach (var role in SelectedIdentity!.AppRoles)
                                    {
                                        <FluentBadge Appearance="Appearance.Accent" Style="margin-right: 5px;">
                                            @role
                                        </FluentBadge>
                                    }
                                </td>
                            </tr>
                        </table>
                    </FluentGridItem>
                </FluentGrid>
            </FluentCard>
        }
    </FluentGridItem>

</FluentGrid>