@page "/"

<PageTitle>Home</PageTitle>

<FluentCard>
    <h2>Hello Environments!</h2>
    <FluentIcon Value="@(new Icons.Regular.Size24.Clock())" />
    <FluentEmoji Value="@(new Emojis.PeopleBody.Color.Default.Artist())" />
    <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>

<FluentDataGrid Items="@people">
    <PropertyColumn Property="@(p => p.PersonId)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.BirthDate)" Format="yyyy-MM-dd" Sortable="true" />
</FluentDataGrid>

@code {
    record Person(int PersonId, string Name, DateOnly BirthDate);

    IQueryable<Person> people = new[]
    {
        new Person(10895, "Jean Martin", new DateOnly(1985, 3, 16)),
        new Person(10944, "António Langa", new DateOnly(1991, 12, 1)),
        new Person(11203, "Julie Smith", new DateOnly(1958, 10, 10)),
        new Person(11205, "Nur Sari", new DateOnly(1922, 4, 27)),
        new Person(11898, "Jose Hernandez", new DateOnly(2011, 5, 3)),
        new Person(12130, "Kenji Sato", new DateOnly(2004, 1, 9)),
    }.AsQueryable();
}

@* <FluentDataGrid Items="@environments">
    <PropertyColumn Property="@(p => p.Id)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Name)" Sortable="true" />
    <PropertyColumn Property="@(p => p.Url)" Sortable="true" />
</FluentDataGrid>

@code {

    IQueryable<Environment> environments = new[]
    {
        new Environment(1, "Test", "Test", "Test"),
        new Environment(1, "Test", "Test", "Test")
    }.AsQueryable();

} *@
